
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="connexion form">
  <div class="field">
  <div class="mdptitle">
    <h1>Mot de passe oublié ?</h1>
  </div>
    <%= f.label :email,"Votre email" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"connectform" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Réinitialiser", class:"buttonbluereset" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
